.all-activities-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  .applied-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
     svg{
      color: #6866AD;
     }
  }
}
